<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form class="form-horizontal">
    <fieldset>
        <div id="legend" class="">
            <legend class="">表单名</legend>
        </div>
        <div class="control-group">

            <!-- Text input-->
            <label class="control-label" for="input01">IP</label>
            <div class="controls">
                <input id="input01" type="text" placeholder="输入查询redis的IP" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">

            <!-- Text input-->
            <label class="control-label" for="input02">PORT</label>
            <div class="controls">
                <input id="input02" type="text" placeholder="输入查询redis的端口" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">

            <!-- Text input-->
            <label class="control-label" for="input03">DB</label>
            <div class="controls">
                <input id="input03" type="text" placeholder="索引库" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">

            <!-- Search input-->
            <label class="control-label" for="input04">命令</label>
            <div class="controls">
                <input id="input04" type="text" placeholder="查询的命令" class="input-xlarge search-query">
                <p class="help-block"></p>
            </div>

        </div>



        <div class="control-group">

            <!-- Text input-->
            <label class="control-label" for="input05">Key</label>
            <div class="controls">
                <input id="input05" type="text" placeholder="key" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">

            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">查询</button>
            </div>
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-default">重置</button>
            </div>
        </div>

    </fieldset>
</form>


</body>
</html>